.wrapper {
  width: 100%;
  transition: 0.6s background ease;
  /* border-bottom: 4px solid #dddddd; */
}

.wrapper.inverted {
  background: #521d1d;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
