.wrapper {
  width: 100%;
  -webkit-transition: 0.6s background ease;
  transition: 0.6s background ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s all ease;
  background: transparent;
  z-index: 50;
  /* border-bottom: 4px solid #E2C147; */
}

.wrapper.inverted {
  background: var(--dark-brown);
}

.wrapper.scrolled {
  background: var(--white);
  position: fixed;
}

.pseudoWrapper {
  position: relative;
  height: 147px;
}
.pseudoWrapper.expanded {
  height: 335px;
}

@media (min-width: 332px) {
  .pseudoWrapper {
    height: 107px;
  }
  .pseudoWrapper.expanded {
    height: 295px;
  }
}

@media (min-width: 992px) {
  .pseudoWrapper {
    height: 151px;
  }
  .pseudoWrapper.expanded {
    height: 151px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
