.wrapper {
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 122px);
  min-height: 500px;
  background: blue;
}

.innerWrapper {
  margin-top: 147px;
  height: calc(100% - 147px);
  width: 100%;
  background: yellow;
}

@media (min-width: 332px) {
  .innerWrapper {
    margin-top: 107px;
    height: calc(100% - 107px);
  }
}

@media (min-width: 992px) {
  .innerWrapper {
    margin-top: 151px;
    height: calc(100% - 151px);
  }
}
