.wrapper {
  padding: 3rem 0 !important;
}

.imageLink {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header {
  font-family: var(--body-font-stack) !important;
}

.headerLink {
  color: var(--black) !important;
}

.price {
  font-family: var(--body-font-stack);
  color: var(--dark-grey);
}

.description > p {
  font-family: var(--body-font-stack);
  color: var(--black);
  line-height: 26px;
  font-size: 15px;
  padding: 8px 0;
}
