.wrapper {
}

.imageLink {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header {
  font-family: Muli, sans-serif !important;
  color: var(--black) !important;
}

.price {
  font-family: Muli, sans-serif;
  color: var(--dark-grey);
}

.description > p {
  font-family: Muli, sans-serif;
  color: var(--black);
  line-height: 26px;
  font-size: 15px;
  padding: 8px 0;
}
