.wrapper {
  display: block;
  padding: 18px 0 24px;
}

.logo {
  font-family: Cormorant, serif;
  color: #373737;
  user-select: none;
  font-size: 36px;
  margin: 0;
}

.slogan {
  font-family: Muli, sans-serif;
  color: #999999;
  font-size: 16px;
  font-weight: 700;
}

.wrapper.inverted > .logo {
  color: #ffffff;
}

.wrapper.inverted > .slogan {
  color: #cccccc;
}

@media (min-width: 992px) {
  .wrapper {
    padding: 32px 0 38px;
  }
  .logo {
    font-size: 48px;
  }
}
