.wrapper {
  transition: 0.3s all ease;
}

.text {
  display: block;
  font-family: Muli, sans-serif;
  font-weight: 700;
  color: #373737;
  font-size: 14px;
  line-height: 26px;
}

.wrapper.inverted > .text {
  color: #ffffff;
}
