.wrapper {
  padding-left: 0;
  padding-bottom: 36px;
  background: var(--white);
}

.infoHeader {
  width: 100%;
  margin-bottom: 36px;
  padding: 3px 0;
  border-top: 4px solid var(--dark-cream);
  border-bottom: 4px solid var(--dark-cream);
}

.innerInfoHeader {
  width: 100%;
  padding: 6px 0;
  border-top: 2px solid var(--dark-cream);
  border-bottom: 2px solid var(--dark-cream);
}

.infoHeaderLine {
  font-family: Muli, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-brown);
  font-size: 36px;
  font-weight: 700;
  -webkit-text-stroke: 1px var(--white);
  text-shadow: 2px 2px 0 var(--cream);
  margin: 0;
  user-select: none;
  cursor: default;
}

.infoHeaderTagline {
  font-family: Muli, sans-serif;
  text-align: center;
  color: var(--dark-brown);
  font-size: 18px;
  margin: 0;
  user-select: none;
  cursor: default;
}

@media (min-width: 768px) {
  .wrapper {
    margin-left: 20px;
    padding-bottom: 0;
    /* border-left: 3px solid var(--extra-light-brown); */
    min-height: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* background: blue; */
  }
  .infoHeader {
    margin-bottom: 0;
  }
}
