.wrapper {
  padding-left: 0;
}

.infoHeader {
  width: 100%;
}

.infoHeaderLine {
  font-family: Muli, sans-serif;
  text-align: center;
  color: #373737;
  font-size: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 20px;
    border-left: 3px solid #eeeeee;
    min-height: 480px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background: blue; */
  }
}
