.yelpLink {
  display: block;
}

.wrapper {
  cursor: pointer;
}

.reviewCountWrapper {
  margin-top: -8px;
  text-align: center;
  font-family: var(--body-font-stack);
  font-size: 14px;
  /* height: 20px; */
}

.reviewCount {
  /* animation: yelpFade 1s; */
  color: var(--dark-grey);
  user-select: none;
}

.yelpLogo {
  display: inline-block;
  margin-left: 4px;
  height: 48px;
  position: relative;
  top: 11px;
}

/* @keyframes yelpFade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
