.wrapper {
  width: 100%;
  text-align: center;
}

.addressHeader {
  font-family: Muli, sans-serif;
  color: var(--dark-grey);
}

.addressLine {
  display: block;
  font-family: Muli, sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 15px;
  color: var(--black);
}

@media (min-width: 768px) {
  .wrapper {
    text-align: left;
  }
}
