.wrapper {
  position: relative;
  padding: 0;
  /* background: #f9e8cf; */
}

.containerInnerWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.map {
  width: 100%;
  min-height: 400px;
}

.info {
  width: 100%;
}

@media (min-width: 768px) {
  .map {
    width: 50%;
    min-height: 480px;
  }
  .info {
    width: 50%;
  }
}
