/*****************************
******************* variables
*****************************/

:root {
  --dark-brown: #521d1d;
  --brown: #775350;
  --light-brown: #937e7c;
  --dark-black: #000000;
  --black: #373737;
  --dark-grey: #8b8b8b;
  --grey: #bbbbbb;
  --light-grey: #efefef;
  --white: #ffffff;
  --dark-cream: #e2c147;
  --cream: #f4e1a1;
  --light-cream: #fcf7e6;
  --red: #bb4430;
  --light-red: #d67261;
}

/*****************************
********************* general
*****************************/

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

body {
  height: 100vh;
}

html {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*****************************
******************* technical
*****************************/

.addToCartButton {
  outline: none;
  background: var(--brown);
  color: var(--white);
  padding: 8px 16px;
  font-family: Muli, sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 16px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.addToCartButton:hover {
  background: var(--dark-brown);
  cursor: pointer;
}

.indicators {
  height: 12px !important;
}

.react-slideshow-container > .nav {
  height: 100% !important;
  border-radius: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent !important;
  font-size: 32px !important;
  color: var(--grey) !important;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.react-slideshow-container > .nav:hover {
  color: var(--white) !important;
  font-weight: bold !important;
}
