/*****************************
******************* variables
*****************************/

:root {
  --dark-brown: #521d1d;
  --light-brown: #68403f;
  --black: #373737;
  --dark-grey: #8b8b8b;
  --light-grey: #bbbbbb;
  --white: #ffffff;
}

/*****************************
********************* general
*****************************/

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

body {
  height: 100vh;
}

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  margin: 0;
  padding: 0;
}
