.wrapper {
  text-align: center;
  margin-top: 32px;
}

.starsImage {
  height: 28px;
  /* animation: yelpFade 1s; */
}

/* @keyframes yelpFade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
