.wrapper {
  display: block;
  text-align: center;
  padding: 14px 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.text {
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--light-brown);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.wrapper:hover,
.wrapper.active {
  background: var(--cream);
}

.wrapper:hover > .text,
.wrapper.active > .text {
  color: var(--dark-brown);
}

.wrapper.inverted:hover {
  background: var(--brown);
}

.wrapper.inverted:hover > .text {
  color: var(--white);
}

.wrapper.inverted > .text {
  color: var(--light-grey);
}
