.wrapper {
  display: block;
  text-align: center;
  padding: 14px 0;
  transition: 0.5s all ease;
}

.text {
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #373737;
}

.wrapper:hover,
.wrapper.active {
  background: #eeeeee;
}

.wrapper:hover > .text {
  color: #000000;
}

.wrapper.inverted:hover {
  background: #68403f;
}

.wrapper.inverted > .text {
  color: #ffffff;
}
