.wrapper {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.text {
  display: block;
  font-family: var(--body-font-stack);
  font-weight: 600;
  color: var(--light-brown);
  font-size: 14px;
  line-height: 26px;
}

.wrapper.inverted > .text {
  color: var(--white);
}
