.wrapper {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.text {
  display: block;
  font-family: Muli, sans-serif;
  font-weight: 700;
  color: var(--black);
  font-size: 14px;
  line-height: 26px;
}

.wrapper.inverted > .text {
  color: var(--white);
}
